body{
    background-image: url("../img/background1.jpg");
    width: auto;
    color: #0a0305;
    font-family:Georgia;
    text-align: center;
    border: salmon 15px ridge;
}

header, main{
    background-color: #ffc0b6;
    justify-content: center;
    text-align: center;
    border: salmon 15px ridge;
   
}