body{
    background-image: url("../img/background1.jpg");
    width: auto;
    color: #0a0305;
    font-family:Georgia;
    text-align: center;
    border: salmon 15px ridge;
}


header{
    background-color: #ffc0b6;
    justify-content: center;
    text-align: center;
    border: salmon 15px ridge;
    border-style: inset;
    height: 100px;

}
 main{
    background-color: #ffc0b6;
    justify-content: center;
    text-align: center;
    border: salmon 15px ridge;
    border-style: inset;
}

#MyForm{
    text-align: left;
    border-style: inset;
    
}

